<authors>

	<author first="Capacidad" gender="" titulo="Capacidad">

		<author first="Base Instalada" gender="" titulo="Base Instalada">
				<author first="Capacidad de Tranporte" gender="" titulo="Transporte">
				<book title="Video Conferencia" titulo="" url=""></book>
				<book title="Radios Troncalizados" titulo="" url=""></book>
				<book title="Redes de Transmision" titulo="" url=""></book>
				<book title="Redes LAN" titulo="" url=""></book>
				<book title="Redes WAN" titulo="" url=""></book>
				<book title="Telemetria" titulo="" url=""></book>
				</author>
				<author first="Capacidad de Procesamiento" gender="" titulo="Procesamiento">
				<book title="Servidores" titulo="" url=""></book>
				<book title="Estaciones Especializadas" titulo="" url=""></book>
				<book title="Micros" titulo="" url=""></book>
				<book title="Portatiles" titulo="" url=""></book>
				</author>
				<author first="Capacidad de Almacenamiento" gender="" titulo="Almacenamiento">
				<book title="Almacenamiento y Respaldo" titulo="" url=""></book>
				<book title="Roboticas" titulo="" url=""></book>
				</author>
				<author first="Capacidad de Impresion" gender="" titulo="Impresion">
				<book title="Impresoras" titulo="" url=""></book>
				<book title="Plotter" titulo="" url=""></book>
				</author>
				<author first="Capacidad de Visualizacion" gender="" titulo="Vizualizacion">
				<book title="Salas CAVY" titulo="" url=""></book>
				<book title="Salas SAMY" titulo="" url=""></book>
				</author>
				<author first="Capacidad de Autonomia Energetica" gender="" titulo="Autonomia">
				<book title="UPS" titulo="" url=""></book>
				<book title="Banco de Baterias" titulo="" url=""></book>
				<book title="Plantas de Emergencia" titulo="" url=""></book>
				</author>
				<author first="Capacidad de Monitoreo y Gestion" gender="" titulo="Monitoreo">
				<book title="Plantas de Emergencia" titulo="" url=""></book>
				</author>
				<author first="Capacidad de Adquisicion de Datos" gender="" titulo="Adquisicion">
				<book title="PLC" titulo="" url=""></book>
				<book title="RTU" titulo="" url=""></book>
				<book title="SCADA" titulo="" url=""></book>
				<book title="ESD" titulo="" url=""></book>
				<book title="DCS" titulo="" url=""></book>
				<book title="Detector de Gas y Fuego" titulo="" url=""></book>
				</author>
				
		</author>
    </author>
    
	<author first="Administracion" gender="" titulo="Administracion">
		<book title="Privilgio" titulo="Informacion" url="servicios/adm_datos_plan.php"></book>

	</author>











    
</authors>
