<authors>

	<author first="Continuidad Operativa" gender="" titulo="Continuidad">
		<book title="Informacion General" titulo="Informacion" url="servicios/adm_datos_plan.php"></book>
		
		<author first="Plan Maestro" gender="" titulo="Plan Maestro">
			<book title="Plan Maestro" titulo="Plan Maestro" url="servicios/adm_plan_maestro.php"></book>
			<book title="Procesos" titulo="Procesos" url="servicios/adm_proceso.php"></book>
			<book title="Roles y Responsabilidad" titulo="Rol" url="servicios/adm_rol_res.php"></book>
				
				<author first="Gestion de Guardia" gender="" titulo="Plan de logistica">
					<book title="Guardia" titulo="Guardias" url="servicios/adm_guardia.php"></book>
					<book title="Rol personal" titulo="Roles" url="servicios/adm_rol_persona.php"></book>
				</author>
			
			<author first="Plan de Logistica" gender="" titulo="Plan de logistica">
				<book title="Alimentacion" titulo="Alimentacion" url="servicios/adm_alimentacion.php"></book>
				
				<author first="Transporte" gender="" titulo="Transporte" url="servicios/adm_transporte.php">
					<book title="Vehiculo" titulo="Vehiculo" url="servicios/adm_vehiculo.php"></book>
					<book title="Linea de Taxi" titulo="Linea" url="servicios/adm_linea.php"></book>
				
				</author>
				<book title="Hospedaje" titulo="Hospedaje" url="servicios/adm_alimentacion.php"></book>
			</author>
			<book title="Equipo Requerido AIT" titulo="Equipo" url="servicios/adm_equipo_requerido.php"></book>
		</author>
   
    </author>
    
	<author first="Administracion" gender="" titulo="Administracion">
		<book title="Privilgi" titulo="Informacion" url="servicios/adm_datos_plan.php"></book>

	</author>











    
</authors>